*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-item a{
   margin: 5px;
}
.form-inline button{
 color:white;
 width:300px;
 border-left: 2px solid #eb3c5a;
 border-right: 2px solid #f67831; 
 border-top: 2px solid #eb3c5a;
 border-bottom: 2px solid #f67831; 
 background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
}
.form-inline button:hover{
 color:black;
}
html body
{
 font-family: "Poppins", sans-serif;
}

.aboutimg
{
 width: 85vh;
 height: 350px!important;
}

.carousel-inner img 
{
     width: 100%;
     height: 90vh;
}

 .card .header
{
  color:red;
  
}

.container-fluid h2
{
  text-align: center;
} 

.container-fluid .btn
{
   display:block;
   width:300px;
   margin:auto;
   border-left: 2px solid #eb3c5a;
   border-right: 2px solid #f67831; 
   background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
}

.container-fluid .row img
{
  padding-left: 25px;
}

.container-fluid.para p
{
  width:100vh;
  
}

footer
{
   background-color: black;
}

.footercontainer
{
   width:100%;
   padding: 70px 30px 20px;
}

.socialicons
{
  display:flex;
  justify-content: center;
}

.socialicons a
{
  padding:10px;
  background-color: white;
  margin:10px;
  border-radius: 50%;
}

.socialicons a i
{
  font-size: 2em;
  color:black;
  opacity:0.9;
}

.socialicons a:hover
{
  background-color:#111;
  transition: 0.5s;
}

.socialicons a:hover i
{
  color:white;
  transition: 0.5s;
}

.footernav
{
  margin: 30px 0;
}

.footernav ul
{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footernav ul li
{
  list-style: none;
}

.footernav ul li a
{
 color:white;
 margin:20px;
 text-decoration: none;
 font-size: 1.3em;
 opacity:0.7;
 transition: 0.5s;
}

.footernav ul li a:hover
{
  opacity: 1;
}

.footerbottom
{
  background-color:#000;
  padding: 20px;
  text-align:center;
} 

.footerbottom p
{
  color:white;
  text-align: center;
  margin: 10px;
}

.designer{
     opacity: 0.7;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: 400;
     margin: 0px 5px;
  }
  @media (max-width: 700px){
   .footernav ul{
     flex-direction: column;
   }
  }
  .footernav ul li
  {
    width:100%;
    text-align: center;
    margin:10px;
  } 


